# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Savis8_Website\Savis8_Website\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
