<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/main/css/contact.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="contact">
        <div class="contact-1">
            <h2>Contact Us</h2>
            <p>
                We love hearing from you, our Shops Customer. <br>
                Please contact us and we will make sure to get back to you as soon as we posibility can
            </p>
        </div>
        <div class="contact-2">
            <div class="contact-left">
                <span class="content-left">
                    <div>
                        <label>Your name <span>*</span></label><br>
                        <input class="custom-input" type="text" placeholder="Your Name">
                    </div>
                    <div>
                        <label>Your Email <span>*</span></label><br>
                        <input class="custom-input" type="text" placeholder="Your Email">
                    </div>
                </span>
                <div>
                    <label>Your Phone Number <span>*</span></label><br>
                    <input class="custom-input" type="text" placeholder="Your Phone">
                </div>
                <div>
                    <label>What's on your mind <span>*</span></label><br>
                    <textarea name="" id="" cols="30" rows="5" placeholder="Note here"></textarea>
                </div>
                <button>Submit</button>
            </div>
            <div class="contact-right">
                <ul>
                    <li>
                        <i class='bx bx-location-plus' style='color:black'></i>
                        <span>
                            <p class="active">Address</p>
                            <p>123 Dong Anh - Ha Noi</p>
                        </span>
                    </li>
                    <li>
                        <i class='bx bx-phone' style='color:black' ></i>
                        <span>
                            <p class="active">Phone</p>
                            <p>0123456789</p>
                        </span>
                    </li>
                    <li>
                        <i class='bx bx-stopwatch' style='color:black' ></i>
                        <span>
                            <p class="active">We are open</p>
                            <p>Everytime</p>
                        </span>
                    </li>
                    <li>
                        <i class='bx bx-envelope' style='color:black' ></i>
                        <span>
                            <p class="active">Email</p>
                            <p style="text-decoration: underline; color: #0188ff;">sd29datn_techstore@gmail.com</p>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>