<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>
    <link rel="stylesheet" href="/main/css/term.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="term">
        <div class="term-1">
            <h3>Shop Terms & Conditions</h3>
            <h4>
                GENERAL TERMS AND CONDITIONS FOR SALE OF PRODUCTS AND SERVICES
            </h4>
        </div>
        <div class="term-2">
            <div class="term-left">
                <div class="content-term-left">
                    <p class="active">Definitions & Interpretation</p>
                    <p>In the following Terms and Conditions of sale, unless the context requires otherwise</p>
                    <p>
                        (a) 'Shop" means Shop Pty Ltd ABN 11 222 333 444;</br>
                        (b) 'Customer' means the person or corporation placing an order for the purchase of goods or
                        services from Shop;</br>
                        (c) "Products" means any goods, materials, equipment or services provided to the Customer by
                        Shop;</br>
                        (d) if the Customer comprises more than one person, each of those person's liability is joint
                        and several;</br>
                        (e) references to a party or a person includes any form of entity and their respective
                        successors, assigns and representatives;</br>
                        (f) for all periods and times specified in clauses 5 and 11, time is of the essence; and</br>
                        (g) all references to currency are references to Australian dollars.
                    </p>
                </div>
                <div class="content-term-left">
                    <p class="active">General</p>
                    <p>
                        By ordering the Products and/or accepting delivery of the Products from Shop, the Customer
                        agrees that it is bound by these
                        Terms and Conditions of sale. Customer orders, including orders placed via the internet, are
                        subject to acceptance by Shop. The
                        acceptance of the Customer's order by Shop is expressly made conditional upon the Customer's
                        assent to these Terms and
                        Conditions which will prevail notwithstanding anything that may be stated to the contrary on the
                        Customer's order. Shop reserves
                        the right to vary any of these terms at any time and any subsequent orders placed by the
                        Customer will constitute an acceptance
                        of the terms as varied. Once a Customer order has been placed and accepted by Shop, the Customer
                        agrees that the Customer
                        has no right to cancel or vary the order at any time, unless agreed upon in writing by both
                        parties.
                    </p>
                </div>
                <div class="content-term-left">
                    <p class="active">Quotations</p>
                    <p>
                        Any quotation by Shop to the Customer will be open for acceptance by the Customer within the
                        period stated in the quotation or,
                        where no period is stated, within seven (7) days from the date of the quotation. Thereafter,
                        prices stated in the quotation may be
                        varied by Shop without notice to the Customer.
                    </p>
                </div>
                <div class="content-term-left">
                    <p class="active">Prices / Taxes</p>
                    <p>
                        The prices charged by and payable to Shop will be the ruling prices applicable at the time of
                        order placement, provided that the
                        Products are accepted for delivery within a reasonable time. Prices are subject to change
                        without notice. Recommended retail
                        prices are provided for indicative purposes only and there is no obligation for Shop to comply
                        with that recommendation. It as
                        agreed that should the Customer fail for any reason to acquire the quantity of Products sold
                        then without limiting Shop' other rights
                        and remedies the unit price charged for the goods sold may be amended to take into account any
                        variation in the total quantity
                        purchased by the Customer. Prices include GST, but do not include any other tax or duty, which
                        is in addition to the price and is to
                        be paid by the Customer at the time of payment for the Products.
                    </p>
                </div>
            </div>
            <div class="term-right">
                <ul>
                    <li>
                        <p class="active">Definitions & Interpretation</p>
                    </li>
                    <li>General</li>
                    <li>Quotation</li>
                    <li>Prices / Taxs</li>
                    <li>Term of Payment</li>
                    <li>Credit Accounts</li>
                    <li>Change of Ownership</li>
                    <li>Delivery</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>