@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #0188ff;
    --gray: #ededed;
}

body {
    /* border-top: #0188ff solid; */
    font-family: 'Quicksand', sans-serif;
}


/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
.detail-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1rem 3rem;
}

/* start product-list */

.product-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: start;
    margin-top: 10px;
    margin-left: -50px;
}

.product-list ul li {
    margin: 0 1rem;
    cursor: pointer;
    position: relative;
    /* Đặt vị trí của mục danh sách thành tương đối */
}

.product-list ul li.active::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -3px;
    /* Đặt bottom thành âm để viền hiển thị ở dưới */
    left: 0;
    background: #0188ff;
    z-index: 0;
    transition: width 0.3s ease-in-out;
    /* Hiệu ứng chuyển đổi chiều rộng */
}

.product-list ul li.active {
    color: #0188ff;
    z-index: 1;
    /* Đặt lớp active trên cùng để che phủ viền dưới */
}

.product-list ul li:before {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    top: 100%;
    left: 0;
    bottom: -3px;
    z-index: 0;
    background: #0188ff;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.product-list ul li:hover {
    background-position: 0%;
}

.product-list ul li:hover:before {
    width: 100%;
}

/* end .product-list*/

/* buuton */
.button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button button {
    margin: 0.6rem 0.5rem;
    padding: 5px;
    border-radius: 25px;
    outline: none;
    background-color: #0188ff;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5px;
    width: 150px;
    height: 30px;
    font-weight: 700;
    cursor: pointer;
}

.button-on {
    background-color: orange !important;
    opacity: 0.9;
    filter: brightness(95%);
    color: black;
}

.button-off {
    opacity: 0.9;
    filter: brightness(95%);
    color: white;
}

.button-on:hover {
    opacity: 1;
    filter: brightness(110%);
}

.button-off:hover {
    opacity: 1;
    filter: brightness(88%);
}

/* end detail-1 */

/* start detail-2 */
.detail-2 {
    height: 600px;
    display: flex;
    /* justify-content: center; */
    /* align-items: start; */
    border-top: 1px solid rgb(209, 205, 205);
}

.content-left {
    background-color: #eaf2fe;
    padding-right: 5rem;
    padding-left: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
    height: 590px;
    max-height: 590px;
    overflow-y: auto;
    width: 350px;
    max-width: 350px;
}

.content-left::-webkit-scrollbar {
    width: 8px;
}

.content-left::-webkit-scrollbar-thumb {
    background-color: rgb(171, 171, 171);
    border-radius: 5px;
}

.content-left::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.product-name {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.product-category {
    margin-top: 7px;
    margin-bottom: 0;
}


.price {
    display: flex;
    justify-content: start;
    align-items: center;
}

.price-desc {
    text-decoration: line-through;
    color: #0188ff;
    padding-right: 0.6rem;
}

.price-stable {
    font-weight: 550;
    font-size: 18px;
    color: rgb(254, 167, 4);
    filter: brightness(105%);
}

.mg-title {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.product-color {
    width: 350px;
}

.product-color ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    /* Sử dụng flex-wrap để cho phép dồn xuống hàng tiếp theo */
    justify-content: flex-start;
    /* Đảm bảo các li được căn trái */
}

.product-color li {
    margin: 0 0.3rem 0.4rem 0;
    flex-basis: calc(20% - 0.6rem);
    /* Sử dụng flex-basis để chia ul thành 5 cột (20% mỗi cột) */
    box-sizing: border-box;
    /* Đảm bảo rằng padding và margin không làm thay đổi kích thước của li */
    cursor: pointer;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 10px;
}

.product-color li img {
    height: 100%;
    width: 60px;
    border-radius: 10px;
}

.product-color li:hover {
    transform: scale(0.97);
    border: 1px solid #007bff;
    box-shadow: 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.product-size ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    /* Sử dụng flex-wrap để cho phép dồn xuống hàng tiếp theo */
    justify-content: flex-start;
    /* Đảm bảo các li được căn trái */
}

.product-size li {
    margin: 0 0.4rem 0.4rem 0;
    flex-basis: calc(20% - 0.6rem);
    /* Sử dụng flex-basis để chia ul thành 5 cột (20% mỗi cột) */
    box-sizing: border-box;
    /* Đảm bảo rằng padding và margin không làm thay đổi kích thước của li */
    cursor: pointer;
    border: 1px solid rgb(209, 205, 205);
    background-color: white;
    border-radius: 10px;
}

.product-size li p {
    /* background-color: gray; */
    width: 100%;
    height: 100%;
    border-radius: 8%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-size li:hover {
    transform: scale(0.97);
    border: 1px solid #007bff;
    box-shadow: 0 0 0.2rem rgba(0, 123, 255, 0.25);
    opacity: 0.9;
    filter: brightness(98%);
}

/* .product-info{
    display: none;
} */

.selected{
    transform: scale(0.97);
    border: 1px solid #007bff !important;
    box-shadow: 0 0 0.2rem rgba(0, 123, 255, 0.25);
    opacity: 0.9;
    filter: brightness(98%); 
}

.product-infomation ul {
    padding-left: 15px;
    margin-left: 0px;
}

.product-infomation ul li {
    margin: 5px 0;
}


/* .product-blog{
    display: none;
} */



/* end content -left */


.content-right {
    background-color: white;
    display: flex;
    margin-top: 10px;
}

.left {
    margin-right: 15px;
    position: relative;
    width: 470px;
}

.left img {
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 100%;
    border-radius: 10px;
    margin: 15px 5px 0 0;
}

.left i {
    position: absolute;
    top: 5%;
    left: 4%;
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
}

.left i:hover {
    transform: scale(1.2);
    color: red;
}

.left .button-slide {
    position: absolute;
    bottom: 5%;
    right: 4%;
}

.left .button-slide button {
    border-radius: 25px;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    border: 1px solid #0188ff;
    color: #0188ff;
    font-weight: 550;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    transition: 0.3 all ease;
}

.left .button-slide button:hover {
    opacity: 0.9;
    filter: brightness(75%);
    border: 1px solid #007bff;
    color: #007bff;
}


.right {
    width: 50px;
}


.right ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    /* Sử dụng flex-wrap để cho phép dồn xuống hàng tiếp theo */
    justify-content: flex-start;
    /* Đảm bảo các li được căn trái */
}

.right li {
    margin: 0 0.3rem 0.4rem 0;
    flex-basis: calc(20% - 0.6rem);
    /* Sử dụng flex-basis để chia ul thành 5 cột (20% mỗi cột) */
    box-sizing: border-box;
    /* Đảm bảo rằng padding và margin không làm thay đổi kích thước của li */
    cursor: pointer;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 10px;
    padding-bottom: 0;
}

.right li img {
    height: 100%;
    width: 50px;
    border-radius: 10px;
}

.right li:hover {
    box-shadow: 0 0 0.2rem rgba(0, 123, 255, 0.25);
    filter: brightness(90%);
}

/* end detail-2 */

/* start detail-3 */
.detail-3 {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.detail-3 h3 {
    margin-top: 40px;
    margin-bottom: 7%;
}

.detail-3 h3:first-child {
    margin-top: 120px;
    margin-bottom: 50px;
}

.detail-3 img {
    height: 700px;
    width: 100%;
}

/* product detail-4 */
/* product section */
.lg-title,
.md-title,
.sm-title {
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}

.lg-title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}

.md-title {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

.sm-title {
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}

.text-light {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

.products {
    background: var(--alice-blue);
    padding: 3.2rem 0;
}

.products .text-light {
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}

.product {
    margin: 2rem;
    position: relative;
    width: 315px;
}

.product-content {
    background: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}

.product-img {
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}

.product-btns {
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.btn-cart,
.btn-buy,
.btn-love {
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 80px;
    font-family: inherit;
    font-size: 0.7rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}

.btn-cart {
    background: black;
    color: white;
}

.btn-cart:hover {
    background: var(--carribean-green);
}

.btn-buy {
    background: white;
}

.btn-buy:hover {
    background: var(--carribean-green);
    color: #fff;
}

.btn-love {
    background: red;
    color: white;
}

.btn-love:hover {
    background: var(--carribean-green);
    color: #fff;
}

.product-info {
    background: white;
    padding: 2rem;
}

.product-info-top {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.rating span {
    font-size: 0.7rem;
    color: var(--carribean-green);
}

.product-name {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    /* Ngăn tên sản phẩm xuống dòng */
    overflow: hidden;
    /* Ẩn phần dư thừa của tên sản phẩm */
    text-overflow: ellipsis;
    /* Hiển thị dấu "..." khi tên sản phẩm quá dài */
}

.product-price {
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}

.product-price:first-of-type {
    text-decoration: line-through;
    color: var(--carribean-green);
}

.product-img img {
    transition: transform 0.6s ease;
}

.product:hover .product-img img {
    transform: scale(1.1);
}

.product:hover .product-img {
    background: var(--carribean-green);
}

.product:hover .product-btns {
    opacity: 1;
}

.off-info .sm-title {
    background: var(--carribean-green);
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
    margin: 0;
}


.detail-4 img {
    width: 100%;
    display: block;
}

.head-detail-4{
    margin: 0;
    padding-left: 20px;
}

.head-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.button-slide-product{
    margin-right: 45px;
}

.button-slide-product button {
    border-radius: 25px;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    border: 1px solid rgb(185, 184, 184);
    color: rgb(70, 69, 69);
    font-weight: 550;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    transition: 0.3 all ease;
}

.button-slide-product button:hover {
    background-color: #f8f9fa;
    filter: brightness(90%);
}

/* .container {
    width: 90vw;
    margin: 0 auto;
} */

/* product collection */



/* Media Queries */
@media screen and (min-width: 992px) {
    .product-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .product-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .product {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1336px) {
    .product-items {
        grid-template-columns: repeat(4, 1fr);
    }
}