# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Savis_Nhom8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
